**Alexandre HUANG  
Kevin KAMALANATHAN**

<div align="center"><span style="font-family:Lucida Caligraphy;font-size:32px;color:#FA8072">Examples with DATA & PROC steps</span></div><br><br>

# *What is this notebook for?*

In this notebook you will find various examples of translations of the DATA and PROC steps.
For the moment, the python function "TRANSLATOR" that we have created translates the following statements in the DATA step: DROP, KEEP, WHERE, IF ELSE IF ELSE and RENAME but also the SAS SUBSTR function and it also translates two procedures: PROC MEANS and the PROC FREQ.

# *Import of functions from the Function_analyzer program allowing the translation of SAS codes*

In [1]:
import sys

#Put your path in order to access the python programs Functions_analyzer
sys.path.append("I_Love_SAS_in_Python/Functions_analyzer.py")

from Functions_analyzer import data_drop, data_keep, data_rename, data_where, data_if, tab_out, tab_in, translator, proc_freq,proc_means

# *Examples with DATA step*

 - **DATA SET only**

In [2]:
print (translator("""
                  data test; set test2;
                  run;"""))

test=test2.copy()

 - **Example with DROP statement**

In [3]:
print(translator("""
                 Data table_1; set table_0;
                 drop age sex name;
                 Run;"""))

table_1=table_0.copy()
table_1=table_1.drop(columns=['age','sex','name'])

In [4]:
print(translator("""
                 Data table_1; set table_1;
                 drop age sex name;
                 Run;"""))

table_1=table_1.drop(columns=['age','sex','name'])

 - **Example with KEEP statement**

In [5]:
print(translator("""
                 Data table_1; set table_0;
                 keep age sex name;
                 Run;"""))

table_1=table_0.copy()
table_1=table_1[['age','sex','name']]

In [6]:
print(translator("""
                 Data table_1; set table_1;
                 keep age sex name;
                 Run;"""))

table_1=table_1[['age','sex','name']]

 - **Example with WHERE statement**

In [7]:
print(translator("""
                 Data table_1; set table_0;
                 where age=10;
                 Run;"""))

table_1=table_0.copy()
table_1=table_1[table_1['age']==10]

In [8]:
print(translator("""
                 Data table_1; set table_1;
                 where age>10;
                 Run;"""))

table_1=table_1[table_1['age']>10]

In [9]:
print(translator("""
                 Data table_1; set table_0;
                 where name="val-de-marne";
                 Run;"""))

table_1=table_0.copy()
table_1=table_1[table_1['name']=="val-de-marne"]

In [10]:
print(translator("""
                 Data table_1; set table_0;
                 where name="val-de-marne" and population<=100000;
                 Run;"""))

table_1=table_0.copy()
table_1=table_1[(table_1['name']=="val-de-marne") & (table_1['population']<=100000)]

 - **Example with IF - ELSE IF - ELSE statement**

In [11]:
print(translator("""
                 Data table_1; set table_0;
                 if sex = "female" then sexe= "femme" ; 
                 else if sex= "male" then sexe = "homme";
                 else sexe = "inconnu";
                 Run;
                 """))

def condition(x):
    if (x =="female"):
        return "femme"
    elif (x =="male"):
         return "homme"
    else:
        return "inconnu"
table_1=table_0.copy()
table_1['sexe'] =table_1['sex'].apply(condition)

In [12]:
print(translator("""
                 Data table_1; set table_1;
                 if price <= 100 then dummy_price = 0 ; 
                 else if price > 200 then dummy_price = 1;
                 else dummy_price = 2;
                 Run;
                 """))

def condition(x):
    if (x <=100) :
        return 0
    elif (x>200):
         return 1
    else:
        return 2
table_1['dummy_price'] =table_1['price'].apply(condition)

In [13]:
print(translator("""
                 Data table_1; set table_0;
                 if sex = "female" then sexe= "femme" ; 
                 else sexe = "homme";
                 Run;
                 """))

def condition(x):
    if (x =="female"):
        return "femme"
    else:
        return "homme"
table_1=table_0.copy()
table_1['sexe'] =table_1['sex'].apply(condition)

In [14]:
print(translator("""
                 Data table_1; set table_0;
                 if sex = "female" then sexe= "femme" ; 
                 else if sex= "male" then sexe = "homme";
                 Run;
                 """))

def condition(x):
    if (x =="female"):
        return "femme"
    elif (x =="male"):
         return "homme"
table_1=table_0.copy()
table_1['sexe'] =table_1['sex'].apply(condition)

In [15]:
print(translator("""
                 Data table_1; set table_0;
                 if sex = "female" ; 
                 Run;
                 """))

table_1=table_0.copy()
table_1=table_1[table_1['sex']=="female"]

 - **Example with RENAME statement**

In [16]:
print(translator("""
                 Data table_1; set table_1;
                 rename name=nom height=taille weight=poids;
                 Run;
                 """))

table_1=table_1.rename(columns={'name':'nom','height':'taille','weight':'poids'})

 - **Example with SUBSTR function**

In [17]:
print(translator("""
                 DATA table2;set table1;
                 new_name = substr(name,6);
                 RUN;
                 """))

table2=table1.copy()
table2["new_name"] = table2["name"].str[5:]

## *You can also combine the different statements*

In [18]:
print(translator("""
                DATA table5; set table2 ;
                RENAME name=nom height=taille weight=poids;
                KEEP prix vente moy ;
                DROP age sex var3   var4;
                where age = "12";
                IF sex ='female' THEN sexe='femme'; 
                ELSE sexe='homme';
                new_name = substr(name,6);
                RUN;
                """))

table5=table2.copy()
table5=table5.drop(columns=['age','sex','var3','var4'])
table5=table5[['prix','vente','moy']]

table5=table2[table2['age']=="12"]
table5=table5.rename(columns={'name':'nom','height':'taille','weight':'poids'})
def condition(x):
    if (x =='female') :
        return 'femme'
    else:
        return 'homme'
table5['sexe'] =table5['sex'].apply(condition)

table5["new_name"] = table5["name"].str[5:]

# *Examples with PROC step*

 - **Example with PROC FREQ**

In [19]:
print(translator("""
                proc freq   data = class ;
                table sex  ;
                run;
                """))

datax =class['sex'].value_counts(dropna = False)
datay = pandas.DataFrame({'sex': datax.index, 'Frequency': datax.values,'Percent': ((datax.values/datax.values.sum())*100).round(2),'Cumulative Frequency': datax.values.cumsum(),'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)})

> Contingency table

In [20]:
print(translator("""
                proc freq   data = class ;
                table sex*age  ;
                run;
                """))

def frequency(ds, vars):
    if len(vars) > 1:
        c1 = ds[vars[0]]
        c2 = []
        for i in range(1,len(vars)):
            c2.append(ds[vars[i]])
        dfs = []
        dfs.append(pd.crosstab(c1,c2).unstack().reset_index().rename(columns={0:'Count'}))
        dfs.append(pd.crosstab(c1,c2, normalize='all').unstack().reset_index().rename(columns={0:'Percent'}))
        dfs.append(pd.crosstab(c1,c2, normalize='columns').unstack().reset_index().rename(columns={0:'Column Percent'}))
        dfs.append(pd.crosstab(c1,c2, normalize='index').unstack().reset_index().rename(columns={0:'Row Percent'}))
        dfs = [df.set_index(vars) for df in dfs]
        df = dfs[0].join(dfs[1:]).reset_index()
        return df

frequency(class,['sex','age'])

 - **Example with  PROC MEANS**

In [21]:
print(translator("""
                 proc means   data = cars  ;
                 var invoice age ;
                 run;
                 """))

cars[['invoice','age']].describe()

In [22]:
print(translator("""
                 proc means   data = cars  ;
                 class model ;
                 var invoice age ;
                 run;
                 """))

cars.groupby('model')[['invoice','age']].describe()

> PROC MEANS with nmiss option

In [23]:
print(translator("""
                 proc means   data = cars nmiss ;
                 class model;
                 var invoice age ;
                 run;
                 """))

cars.groupby('model')[['invoice','age']].describe()
nmiss=cars[['invoice','age']].isnull().sum()
print(nmiss)